In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import os
from os import listdir
from os.path import isfile, join

In [2]:
import add_historical_pool_price

In [3]:
df = add_historical_pool_price.get_data_for_analysis(False)

C:\Users\snarayan\AppData\Local\Temp/ipykernel_1272/2078543570.py:1: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  df = add_historical_pool_price.get_data_for_analysis(False)

In [4]:
print(df)

                  UTC_time  House overall [kW]  Price ($/MWh)  use [kW]  \
0      2016-01-01 05:00:00            0.929350          11.07  0.932833
1      2016-01-01 05:00:01            0.930867          11.07  0.934333
2      2016-01-01 05:00:02            0.928350          11.07  0.931817
3      2016-01-01 05:00:03            1.018567          11.07  1.022050
4      2016-01-01 05:00:04            1.135933          11.07  1.139400
...                    ...                 ...            ...       ...
503905 2016-01-06 09:59:55           -0.338883          19.81  0.015583
503906 2016-01-06 09:59:56           -0.338617          19.81  0.015350
503907 2016-01-06 09:59:57           -0.338133          19.81  0.016283
503908 2016-01-06 09:59:58           -0.340950          19.81  0.013400
503909 2016-01-06 09:59:59           -0.345283          19.81  0.008800

        gen [kW]
0       0.003483
1       0.003467
2       0.003467
3       0.003483
4       0.003467
...          ...
503905  0.354467
503906  0.353967
503907  0.354417
503908  0.354350
503909  0.354083

[503910 rows x 5 columns]